#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #f5f5f5;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(201, 33, 39);
  color: white;
  text-align: center;
}
input[type='checkbox'] {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0 auto;
  transform: scale(0.8);
}
.manager {
  padding: 0;
  font-size: 13px;
  h1 {
    font-size: 15px;
  }
  &h2 {
    font-size: 15px;
  }
}
.row {
  width: 100%;
}
.serch {
  display: flex;
  justify-content: space-between;
  & input {
    width: 640px;
  }
  & button {
    width: 80px;
  }
}
.空洞的 {
  position: absolute;
  top: 40%;
  left: 50%;
  & h1 {
    font-weight: 700;
  }
}
.btn-pagig {
  margin: 0 25px;
}
