.wrapper {
  display: flex;
  background-color: rgb(201, 33, 39);
  color: bisque;
  height: 70px;
  align-items: center;
  justify-content: space-around;
}
.wrapper_logo {
  width: 100px;
  & img {
    width: 100%;
  }
}
.wrapper_logo {
  width: 60px;
  height: 60px;
  border: 5px solid #ebe8e8;
  border-radius: 50px;
  overflow: hidden;
}
.wrapper_playlist-list {
  display: flex;
  margin-bottom: 0;
  list-style: none;
  font-size: 16px;

  & li {
    padding: 0 16px;
    cursor: pointer;
    color: #fff;
  }
}
.wrapper_accout {
  display: flex;
  align-items: center;
  cursor: pointer;
}

img.d-block.w-100 {
  height: 500px;
  object-fit: cover;
  // object-position: top left;
  width: 100%;
}
.CustomerMenu_search {
  text-align: center;
  padding: 43px 0;
  border-top: 2px solid #e0dada;
  border-bottom: 2px solid #e0dada;
  font-size: 14px;

  & input {
    width: 400px;
    height: 40px;
    margin-right: 7.5px;
  }
  & button {
    height: 40px;
    border: none;
    margin-left: 7.5px;
    border-radius: 4px;
  }
}
a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}
// .carousel-item {
//   transition: transform 5s ease-in-out;
// }
// .carousel-fade .active.carousel-item-start,
// .carousel-fade .active.carousel-item-end {
//   transition: opacity 0s 3s;
// }
.slick-track {
  width: 500px;
  height: 500px;
}
.container-product {
  & img {
    width: 100%;
  }
}
.custom-col-3 {
  padding: 5px;
}
.wrapper_accout {
  gap: 35px;
}
ul.wrapper_playlist-list {
  margin-left: 250px;
}
.fade-in {
  width: 100%;
  height: 0;
  background-color: black;
  opacity: 0;
  animation: fadeAnimation 1.5s forwards;
}

// @keyframes fadeAnimation {
//   0% {
//     height: 0;
//     opacity: 0;
//   }
//   100% {
//     height: 200px;
//     opacity: 1;
//   }
// }
.carousel {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.CustomerMenu_banner {
  position: relative;
}

.CustomerMenu_banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 1;
}
.CustomerMenu_search {
  & input:focus {
    border-color: rgb(201, 33, 39) !important;
    outline: none;
  }
  & input {
    border-radius: 4px;
  }
  & button {
    background-color: rgb(201, 33, 39);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.product-description {
  font-size: 15px;
}
.product-name_product {
  font-size: 13px;
  white-space: nowrap;
  width: 156px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.product_image {
  height: 220px;
  & img {
    height: 100%;
  }
}
h2.mt-4.product-description.text-center {
  height: 40px;
}
.price-product {
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
  & .old-price {
    font-size: 14px;
    text-decoration: line-through #000000;
  }
  & .new-product {
    font-size: 16px;
  }
}
.col-2.wrap-container_product {
  margin-bottom: 36px;
  height: 374px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.col-height {
  height: 400px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  & img {
    height: 100%;
    width: 100%;
  }
}
.fade-ins {
  font-size: 16px;
}
.color-btn {
  background-color: rgb(201, 33, 39);
  & :hover {
    background-color: rgb(201, 33, 39);
  }
}
