.modal-detail {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  img {
    width: 400px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
      rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
}

.btn-viewImage {
  font-size: 45px;
  color: #fff;
  margin: 30px;
  &:hover {
    background-color: #ccc;
    cursor: pointer;
  }
}
// .btn-viewImage:hover {
//   background-color: red;
//   cursor: pointer;
// }
.purchase {
  margin-top: 80px;
}
