.wrapper {
  display: flex;
  background-color: rgb(201, 33, 39);
  color: bisque;
  height: 70px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 80px;
}
.wrapper_CustomerMenuComponent {
  margin-top: 80px;
}
.wrapper_logo {
  width: 100px;
  & img {
    width: 100%;
  }
}
.wrapper_logo {
  width: 60px;
  height: 60px;
  border: 5px solid #ebe8e8;
  border-radius: 50px;
  overflow: hidden;
}
.wrapper_playlist-list {
  display: flex;
  margin-bottom: 0;
  list-style: none;
  font-size: 16px;

  & li {
    padding: 0 16px;
    cursor: pointer;
    color: #fff;
  }
}
.wrapper_accout {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  & p {
    margin-bottom: 0;
    font-weight: bold;
    display: block;
  }
}

.edit-info {
  display: none;
  position: absolute;
  top: 40px;
  right: 16px;
  list-style: none;
  padding-left: 0;
  animation: fadeIn linear 0.2s;
  background-color: #fff;
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  & li {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper_accout:hover .account-info .edit-info {
  display: block !important;
  color: #cc2020;
  animation: fadeIn linear 0.2s;
  & li {
    color: #cc2020;
  }
}

.wrapper_accout:hover ul.edit-info:before {
  content: '';
  position: absolute;
  top: -10px; /* Điều chỉnh khoảng cách từ tam giác đến phần tử ul */
  left: 80%; /* Đưa tam giác vào giữa */
  transform: translateX(
    -50%
  ); /* Dịch chuyển tam giác theo chiều ngang để nó ở giữa */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff; /* Màu sắc của tam giác */
  transition: all 0.3s ease;
}

img.d-block.w-100 {
  height: 500px;
  object-fit: cover;
  // object-position: top left;
  width: 100%;
}
.CustomerMenu_search {
  text-align: center;
  padding: 43px 0;
  border-top: 2px solid #e0dada;
  border-bottom: 2px solid #e0dada;
  font-size: 14px;

  & input {
    width: 400px;
    height: 40px;
    margin-right: 7.5px;
  }
  & button {
    height: 40px;
    border: none;
    margin-left: 7.5px;
    border-radius: 4px;
  }
}
a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}
// .carousel-item {
//   transition: transform 5s ease-in-out;
// }
// .carousel-fade .active.carousel-item-start,
// .carousel-fade .active.carousel-item-end {
//   transition: opacity 0s 3s;
// }
.slick-track {
  width: 500px;
  height: 500px;
}
.container-product {
  & img {
    width: 100%;
  }
}
.custom-col-3 {
  padding: 5px;
}
.wrapper_accout {
  gap: 35px;
  padding: 10px;
}
ul.wrapper_playlist-list {
  margin-left: 250px;
}
.fade-in {
  width: 100%;
  height: 0;
  background-color: black;
  opacity: 0;
  animation: fadeAnimation 1.5s forwards;
}

// @keyframes fadeAnimation {
//   0% {
//     height: 0;
//     opacity: 0;
//   }
//   100% {
//     height: 200px;
//     opacity: 1;
//   }
// }
.carousel {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.CustomerMenu_banner {
  position: relative;
}

.CustomerMenu_banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 1;
}
.CustomerMenu_search {
  & input:focus {
    border-color: rgb(201, 33, 39) !important;
    outline: none;
  }
  & input {
    border-radius: 4px;
  }
  & button {
    background-color: rgb(201, 33, 39);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.product-description {
  font-size: 15px;
}
.product-name_product {
  font-size: 13px;
  white-space: nowrap;
  width: 156px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.product_image {
  height: 220px;
  & img {
    height: 100%;
  }
}
h2.mt-4.product-description.text-center {
  height: 40px;
}
.price-product {
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
  & .old-price {
    font-size: 14px;
    text-decoration: line-through #000000;
  }
  & .new-product {
    font-size: 16px;
  }
}
.col-2.wrap-container_product {
  margin-bottom: 36px;
  height: 374px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.container {
  margin-top: 100px !important;
}
.col-height {
  height: 400px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  & img {
    height: 100%;
    width: 100%;
  }
}
.fade-ins {
  font-size: 16px;
}
.color-btn {
  background-color: rgb(201, 33, 39);
  & :hover {
    background-color: rgb(201, 33, 39);
  }
}

.add-product_cart {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  color: rgb(201, 33, 39);
  background-color: rgb(201, 182, 183);
  border: solid 1px rgb(201, 33, 39);
}
.add-product_buy {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: rgb(201, 33, 39);
}
button.swal2-confirm.swal2-styled {
  background-color: rgb(201, 33, 39);
  color: #fff;
  border: 3px solid rgb(201, 33, 39) !important;
}
.cart-product {
  display: block;
  background-color: #fff;
  color: rgb(201, 33, 39);
  height: 17px;
  width: 28px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
  left: 11px;
  bottom: -9px;
  position: absolute;
}
.icon-cart {
  font-size: 20px;
  position: absolute;
}
.cart-product-main {
  position: relative;
}
.row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 10px;
}

.cart-img {
  flex: 0 0 100px;
  margin-right: 10px;
}

.cart-img img {
  width: 100%;
  height: auto;
}

.cart-price {
  flex: 0 0 100px;
}

.cart-delete {
  flex: 0 0 60px;
}
.quality-cart {
  & input {
    width: 45px;
    width: 50px;
    height: 32px;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 0;
  }
  & button {
    transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    width: 32px;
    height: 32px;
  }
}
.input-detail {
  width: 45px;
  width: 50px;
  height: 32px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
}
.total_price-cart {
  width: 100%;
  height: 150px;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 0;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.container-cart {
  position: relative;
}
.check-empty_product {
  margin-top: 200px;
  margin-bottom: 170px;
}
.check-empty_icon {
  margin-left: 5px;
  color: rgb(255, 0, 242);
  font-size: 40px;
}

.wrapper-footer {
  margin-top: 45px;
  border-top: 2px solid #b13e3e;
  background-color: rgb(201, 33, 39);
  color: #bbb;
  padding-bottom: 30px;
  padding-top: 20px;
}
.footer-promo {
}
.img-footer {
  background-color: #1e1e1e;
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
}
.footer-logo {
  font-size: 14px;
}
.footer-contact {
  column-gap: 7px;
  display: flex;
  align-items: center;
  line-height: 30px;
  cursor: pointer;
  span:hover {
    color: #b13e3e;
  }
}
.footer-support {
  margin-top: 10px;
  list-style: none;
  font-size: 14px;
}
.li-support {
  column-gap: 7px;
  display: flex;
  align-items: center;
  line-height: 30px;
  cursor: pointer;
  span:hover {
    color: #b13e3e;
  }
}
.logo-pay {
  background-color: #fff;
  margin: 4px;
}
.follow-footer {
  list-style: none;
  font-size: 14px;
}
.footer-logo_follow {
  cursor: pointer;
  &:hover {
    color: #b13e3e;
  }
}
.footer-pay {
  width: 200px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}
.cart-img-order {
  height: 40px;

  img {
    height: 100%;
  }
}
.td-order {
  text-align: center;
}
.address-contact {
  & input {
    width: 70%;
    margin-bottom: 10px;
    font-size: 14px;
    height: 40px;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid;
    margin-left: 25px;
  }
}
.total-order-pay {
  float: right;
}
.add-product_order {
  width: 215px;
}
.prev-img {
  padding: 0;
}
.prev-container {
  padding-top: 30px;
}
.prev-img img {
  height: 100%;
  cursor: pointer;
  width: 100%;
}
.col-2.prev-img {
  height: 68px;
  margin: 0 2px;
}
