.content-edit_info {
  height: 300px;
}
// personal.scss

.personal-profile {
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    color: #666;
  }

  .profile-info {
    margin-top: 20px;

    .info-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .info-label {
        flex: 1;
        font-weight: bold;
        font-size: 16px;
        color: #333;
      }

      .info-value {
        flex: 2;
        font-size: 16px;
        color: #333;
      }

      .info-input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        color: #333;
      }

      .info-radio {
        margin-right: 10px;
      }
    }

    .edit-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
.info-label {
  text-align: right; /* Căn lề phải cho nhãn (label) */
  padding-right: 10px; /* Khoảng cách giữa nhãn và giá trị */
  font-weight: bold; /* Tạo đậm cho nhãn */
  width: 150px; /* Độ rộng cố định cho nhãn */
}

.info-value {
  // text-align: left; /* Căn lề trái cho giá trị */
  // padding-left: 10px; /* Khoảng cách giữa giá trị và nhãn */
}

.info-radio {
  // margin-right: 5px; /* Khoảng cách giữa các radio buttons */
}
.center-input {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 100%; /* Để ô input chiếm toàn bộ chiều cao của ô td */
}
tbody {
  border: 1px solid #ddd;
}
.image-avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 50px;
  & img {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 100%;
    height: 100%;
  }
}
.upload-image.text-center {
  align-items: center;
  justify-content: center;
  display: grid;
}
.input-info {
  & input {
    width: 400px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 8px;
  }
}
.saveChange,
.uploadImage {
  border: none;
  width: 65px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 4px;
  height: 35px;
  background-color: rgb(201, 33, 39);
  color: #fff;
}
.uploadImage {
  width: 150px;
  font-size: 16px;
}
.profile-avatar {
  display: flex;
  align-items: center;
  gap: 5px;
  & img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
.wrapper-purchase {
  margin-bottom: 20px;
}
/* PurchaseOrders.css */
.check-empty_product-exits {
  margin: 200px;
}
body {
  background-color: #f5f5f5;
}
.btn {
  color: #fff;
}
