.content-edit_info {
  height: 300px;
}
// personal.scss

.personal-profile {
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    color: #666;
  }

  .profile-info {
    margin-top: 20px;

    .info-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .info-label {
        flex: 1;
        font-weight: bold;
        font-size: 16px;
        color: #333;
      }

      .info-value {
        flex: 2;
        font-size: 16px;
        color: #333;
      }

      .info-input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        color: #333;
      }

      .info-radio {
        margin-right: 10px;
      }
    }

    .edit-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 8px 16px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
.info-label {
  text-align: right; /* Căn lề phải cho nhãn (label) */
  padding-right: 10px; /* Khoảng cách giữa nhãn và giá trị */
  font-weight: bold; /* Tạo đậm cho nhãn */
  width: 150px; /* Độ rộng cố định cho nhãn */
}

.info-value {
  // text-align: left; /* Căn lề trái cho giá trị */
  // padding-left: 10px; /* Khoảng cách giữa giá trị và nhãn */
}

.info-radio {
  // margin-right: 5px; /* Khoảng cách giữa các radio buttons */
}
.center-input {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 100%; /* Để ô input chiếm toàn bộ chiều cao của ô td */
}
tbody {
  border: 1px solid #ddd;
}
