.containers {
  margin-top: 90px;
}
.name-product {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #9c9191;
  padding-bottom: 45px;
  & img {
    width: 60px;
    height: 80px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
