.container {
  position: relative;
  font-size: 16px;
}
.card-body {
  position: absolute;
  left: 30%;
  & b {
    margin-right: 10px;
  }
}
.manager_order {
  h2 {
    font-size: 16px;
    margin-bottom: 30px;
  }
  & .info-general {
    margin-left: 100px;
  }
}
.page-wrapper {
  min-height: 100vh; /* Đảm bảo wrapper che phủ toàn bộ viewport */
  transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu mượt mà */
}
.colored-select {
  background-color: white; /* Màu nền mặc định */
}

.colored-select option[value='1']:selected {
  background-color: red; /* Thay đổi màu khi chọn tùy chọn "Đơn hàng mới" */
}

.colored-select option[value='2']:selected {
  background-color: green; /* Thay đổi màu khi chọn tùy chọn "Đơn xác thực" */
}
.colored-select {
  background-color: white; /* Màu nền mặc định */
  transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu mượt mà */
}
