.main {
  width: 300px;
  border: 1px solid;
  margin: 0 auto;
  margin-top: 100px;
}
.wrapper_CustomerRegisterPage {
  overflow: hidden;
  margin: 0 auto;
  width: 350px;
  border-radius: 17px;
  padding: 25px;
  margin-top: 10px;
  margin-top: 100px;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  & input {
    width: 400px;
  }
  & small {
    color: red;
    // margin-left: 38px;
    text-align: center;
    display: grid;
    place-items: center;
  }
  & .text-center {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(201, 33, 39);
    & small {
      font-size: 14px;
      color: rgb(201, 33, 39);
    }
  }
}
.modal-title.h4 {
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
}
input:focus {
  border-color: rgb(201, 33, 39) !important;
  outline: none;
}
button.color-btn {
  width: 40px;
  color: #fff;
  font-size: 20px;
  border: snow;
  align-items: center;
  justify-content: center;
  display: flex;
}
.add-product {
  gap: 10px;
  display: flex;
}
.total_price-cart {
}
.空洞的 h1 {
  font-weight: 700;
  margin-top: 35px;
}
.login-user {
  display: flex;
  cursor: pointer;
  & p {
    color: blue !important;
    font-weight: bolder;
  }
}
.text-end {
  text-align: right !important;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.total_price-cart {
  left: 0;
}
.wrapper-total_price-cart {
  align-items: center;
  display: flex;
  /* margin: 0 auto; */
  text-align: center;
  justify-content: center;
  gap: 35px;
}
.showinput {
  color: red;
  position: absolute;
  right: 14px;
}
.wrapper_password {
  position: relative;
}
