.main {
  width: 300px;
  border: 1px solid;
  margin: 0 auto;
  margin-top: 100px;
}
.wrapper_CustomerRegisterPage {
  margin: 0 auto;
  width: 500px;
  margin-top: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  & input {
    width: 400px;
  }
  & small {
    color: red;
    // margin-left: 38px;
    text-align: center;
    display: grid;
    place-items: center;
  }
}
.modal-title.h4 {
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
}
